<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 p-2">
      <div class="container mx-auto">
        <div class="btn-group d-flex catGroup" role="group">
          <button class="btn btn-block catBtn mt-1" (window:resize)="onResize($event)" (click)="changeCategory()"
            [class.active]="selectedCategory == null || selectedCategory == 'undefined'">
            All
          </button>
          <button *ngFor="let cat of categories" class="btn btn-block mt-1 catBtn"
            [class.active]="cat == selectedCategory" (click)="changeCategory(cat)">
            {{cat}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-10 mx-auto p-2">
      <div *ngFor="let product of products" class="m-1 p-1">
        <div style="background-color: rgb(255, 255, 255);border-radius: 8px;">
          <div class="row" style="box-shadow: 3px 3px 8px rgba(0,0,0,0.1); border-radius: 8px;">
            <div class="col-lg-2 p-2">
              <div [style.background-image]="'url('+ path +product.img+')'" class="photo{{ product.id }}"
                style="border-radius: 12px; background-position: center;background-size: cover; width: 100%; height: 160px;">
              </div>
            </div>
            <div class="col-lg-10 p-3">
              <div class="row">
                <div class="col-6">
                  <h4 class="pt-3">
                    {{ product.name }}
                  </h4>
                </div>
                <div class="col-6">
                  <div>
                    <div class="float-right m-1" style="border: 1px solid green;">
                      <div style="border-radius: 50%; background-color: green; width: 8px; height: 8px;margin: 3px;">
                      </div>
                    </div>
                    <h5 class="pt-3">
                      Remaining Inventory
                    </h5>
                    <span style="font-size: 2.5rem" class="badge badge-pill badge-light">{{ product.quantity }}</span>
                  </div>
                </div>
                <button class="btn btn-warning" data-toggle="collapse"
                  [attr.data-target]="'#' + product.name.split(' ')[0]">View Details</button>
              </div>
            </div>
          </div>
          <div class="row collapse" id="{{ product.name.split(' ')[0] }}">
            <div class="col-lg-6">
              <ul class="list-group list-group-flush mt-3 mx-3">
                <li class="list-group-item">Description : <b>{{ product.desc }}</b></li>
                <li class="list-group-item">Product Type : <b>{{ product.type }}</b></li>
                <li class="list-group-item">Company : <b>{{ product.company }}</b></li>
                <li class="list-group-item">Stock Date : <b>{{ product.date }}</b></li>
                <li class="list-group-item">Category : <b>{{ product.category }}</b></li>
              </ul>
            </div>
            <div class="col-lg-6 block{{ product.id }}" style="border-radius: 8px;margin-top:10px;">
              <h3 style="text-align: center" class="h3 m-2 pt-3">
                Quantity
              </h3>
              <div style="text-align: center;" class="my-5">
                <button type="button" class="btn mx-3 add{{ product.id }}"
                  style="text-align: center;" (click)="subClick(product.id)"><span class="badge badge-pill p-3 badge-light">&nbsp;-</span></button>
                <h2 #qty style="text-align: center;display:inline;" class="qty{{ product.id }}"><b>{{ product.inventory }}</b></h2>
                <button type="button" class="btn mx-3 sub{{ product.id }}"
                  style="text-align: center;display:inline;" (click)="addClick(product.id)"><span class="badge badge-pill p-3 badge-light">+</span></button>
              </div>
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4" style="text-align: center;">
                  <button type="button" class="btn btn-success btn-lg mb-3" (click)="saveClick(product)">Save</button>
                </div>
                <div class="col-4"></div>
              </div>

            </div>
          </div>

        </div>

      </div>
      <div class="form-inline float-left mr-1">
        <select class="form-control" [value]="productsPerPage" (change)="changePageSize($event.target.value)">
          <option value="3">3 per Page</option>
          <option value="4">4 per Page</option>
          <option value="6">6 per Page</option>
          <option value="8">8 per Page</option>
        </select>
      </div>
      <div class="btn-group float-right">
        <button *counter="let page of pageCount" (click)="changePage(page)" class="btn catBtn"
          [class.active]="page == selectedPage">
          {{page}}
        </button>
      </div>
    </div>
  </div>
</div>
<img src="{{product.img}}">