p{
    color: black;
}
div{
    margin: 0px;
    padding: 0px;
}
span{
    font-size: 0.85rem;
    font-weight: 600;
}
button.active{
    background-color: #A8413D;
    color: white;
}
.catBtn{
    border: 1px solid #A8413D;
    color: #A8413D;
}